/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #4070f4;
  color: #fff;
}

body {
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}

.wrapper {
  position: relative;
  max-width: 1130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapper .cart-nav {
  position: absolute;
  top: -35%;
  right: 0;
  width: 130px;
  background: #fff;
  padding: 13px 15px;
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.wrapper .cart-nav .icon {
  color: #4070f4;
}

.wrapper .cart-nav .icon i {
  font-size: 20px;
}

.wrapper .cart-nav .icon span {
  font-weight: 500;
}

.wrapper .cart-nav .item-count {
  font-size: 15px;
  height: 23px;
  width: 23px;
  background: #4070f4;
  text-align: center;
  line-height: 23px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #2660ff;
}

.wrapper .card {
  position: relative;
  background: #fff;
  width: calc(33% - 13px);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.wrapper .card img {
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .card:hover img {
  transform: scale(1.1);
}

.wrapper .card .content {
  position: absolute;
  width: 100%;
  bottom: -45%;
  background: #fff;
  padding: 10px 20px 22px 20px;
  box-shadow: 0 -3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.wrapper .card:hover .content {
  bottom: 0;
}

.wrapper .card .content .row,
.wrapper .card .content .buttons {
  display: flex;
  justify-content: space-between;
}

.wrapper .card .content span {
  font-size: 22px;
  font-weight: 500;
}

.wrapper .card .content p {
  color: #333;
  font-size: 17px;
  font-weight: 400;
}

.wrapper .card .content .price {
  color: #4070f4;
  font-size: 25px;
  font-weight: 600;
}

.wrapper .card .content .buttons {
  margin-top: 20px;
}

.wrapper .card .content .buttons button {
  width: 100%;
  padding: 9px 0;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #4070f4;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.wrapper .card .content .buttons button:first-child {
  color: #4070f4;
  margin-right: 10px;
  background: #fff;
}

.wrapper .card .content .buttons button:first-child:hover {
  background: #4070f4;
  color: #fff;
}

.wrapper .card .content .buttons button:last-child {
  background: #4070f4;
  color: #fff;
}

.wrapper .card .content .buttons button:last-child:hover {
  background: #fff;
  color: #4070f4;
}
